{% extends "base.html.twig" %}
{% block section %}
    <section id="about">
        <div class="container">
            <div class="tony flex">

                <div class="tony_portrait divUp">
                    <img src="{{ asset('images/tony.jpg') }}" alt="Tony">
                </div>

                <div class="about_tony flex divLeft">
                    <div>
                        <h2>Tony</h2>
                        <ul>
                            <li>Photographe Lyonnais (France)</li>
                            <li>Aime capturer les mouvements et capter les beaux instants</li>
                            <li>Un peu décalé et parfois sur la lune</li>
                            <li>Parle très très vite</li>
                            <li>Se sépare rarement de son couvre-chef</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}