{% extends "base.html.twig" %}
{% block section %}
    <section id="about">
        <div class="container">
            <div class="tony flex">

                <div class="tony_portrait slideUp">
                    <img src="{{ asset('images/tony.jpg') }}" alt="Tony">
                </div>

                <div class="about_tony flex slideLeft">
                    <div>
                        <p>
                            Tony Noël dit: <br>
                            « Hatboy » photographe basé sur Lyon, je me déplace dans la région et même plus loin si j’ai pas trop la flemme et jamais sans mon chapeau.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}