{% extends "base.html.twig" %}
{% block section %}
    <section id="contact">
        <div class="container">
            <div class="tony flex">
                <div class="tony_portrait">
                    <img src="{{ asset('images/tony2.jpg') }}" alt="Tony2">
                </div>

                <div class="about_tony flex">
                    <div class="title">
                        <h2>Tony Noel</h2>
                        <span class="photographe">PHOTOGRAPHE</span>
                    </div>

                    <div class="social">
                        <p>tonynoelphotographe@gmail.com</p>
                        <p>06 52 74 97 87</p>
                        <a class="fb" href="https://www.facebook.com/tonynoelphotographe/?pnref=lhc"></a>
                        <a class="insta" href="#"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}