{% extends "base.html.twig" %}
{% block section %}
    <section id="contact">
        <div class="container">
            <div class="tony flex">
                <div class="tony_portrait">
                    <img src="{{ asset('images/tony2.jpg') }}" alt="Tony2">
                </div>

                <div class="about_tony">
                    <h2>Tony Noel<br>
                        <span>photographe</span>
                    </h2>

                    <p>tonynoelphotographe@gmail.com</p>
                    <p>06.52.74.97.87</p>

                    <div class="social">
                        <a class="fb" href="https://www.facebook.com/tonynoelphotographe/?pnref=lhc"></a>
                        <a class="insta" href="#"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}