@media screen and (min-width: 300px){

  .tony{
    width: 90%;
    margin: 1em auto;
    padding: 0 1em;
    justify-content: space-around;
    align-items: center;
    div{
      width: 100%;
      &.tony_portrait, &.about_tony{
        margin-top: 1em;
      }
    }

    h2{
      font-size: 180%;
      padding: 0;
    }

    .photographe{
      font-size: 80%;
      color: $black;
      position: relative;
      top: -5px;
    }
  }

  .tony_portrait {
    width: 40%;
    align-self: baseline;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  #about{
    .about_tony{
      p{
        line-height: 1.2em;
      }
  }

    .quote{
      font-size: 150%;
    }
  }

  .social{
    p{
      width: 100%;
      margin: .5em 0;
    }

    a{
      display: inline-block;
      width: 32px;
      height: 32px;
      transition: transform .5s ease-in-out;
    }

    .fb:hover {
      transform: rotate(360deg);
      background: url("../images/fb-blue.png") no-repeat center;
      background-size: contain;
    }

    .insta:hover {
      transform: rotate(360deg);
      background: url("../images/insta-blue.png") no-repeat center;
      background-size: contain;
    }

    .fb{
      background: url("../images/fb-grey.png") no-repeat center;
      background-size: contain;
    }

    .insta{
      background: url("../images/insta-grey.png") no-repeat center;
      background-size: contain;
    }
  }

  #contact{
    form{
      text-align: left;
      justify-content: flex-start;
    }

    button{
      background-color: $dark;
      color: $white;
      border: none;
    }
  }
}
@media screen and (min-width: 600px) {

  .tony{
    .tony_portrait{
      width: 40%;
    }

    .about_tony{
      width: 40%;
    }

    h2{
      font-size: 290%;
    }

    .photographe{
      font-size: 120%;
    }
  }

  .about_tony{
    font-size: 90%;
  }

  .title{
    width: 100%;
  }
  .social{
    width: 100%;
    margin-top: 1em;
    a{
      //display: block;
      margin: .5em 0;
    }

    }

  #about{
    .tony_portrait{
      order:1;
    }

    .about_tony{
      p{
        line-height: 2em;
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  .tony{
    justify-content: space-around;
    .tony_portrait{
      width: 40%;
    }
    .about_tony{
      width: 30%;
    }

    .photographe{
      font-size: 150%;
    }
  }
}

@media screen and (min-width: 1450px) {
  .tony{
    .about_tony{
      font-size: 150%;
    }
  }
}
