@media screen and (min-width: 300px){

  #about,#contact {
    .tony {
      width: 100%;
      margin: 1em auto;
      justify-content: space-around;
      align-items: center;
      div {
        //width: 100%;
        &.tony_portrait, &.about_tony {
          margin-top: 1em;
        }
      }

      h2 {
        font-size: 150%;
        padding: 0;
      }

      h3 {
        text-align: center;
        margin-bottom: 2em;
      }
    }

    .tony_portrait {
      width: 30%;
      align-self: baseline;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  #contact{

    .photographe{
      color: $black;
      position: relative;
      top: -5px;
    }

    .about_tony{
      width: 60%;
      font-size: 90%;
    }

    .contact_me{
      width: 90%;
      margin: 2em auto;
    }
    .formulaire{
      width: 100%;
    }
    form{
      width: 90%;
      text-align: left;
      justify-content: center;
    }

    input{
      border: 1px solid $grey;
      width: 30%;
      height: 3em;
      flex-grow: 1;
    }

    input:nth-child(2){
      border-left: none;
    }

    .sujet{
      width: 100%;
      border-top: none;
    }

    textarea{
      border: 1px solid $grey;
      border-top: none;
      resize: none;
      width: 100%;
      height: 8em;
    }

    button{
      background-color: $grey;
      color: $white;
      border: none;
      //margin-left: 2em ;
    }
    button:hover{
      background-color: $dark;
    }
  }

  .social{
    width: 100%;
    p{
      width: 100%;
      margin: .5em 0;
    }

    a{
      display: inline-block;
      width: 32px;
      height: 32px;
      transition: transform .5s ease-in-out;
    }

    .fb:hover {
      transform: rotate(360deg);
      background: url("../images/icons/fb-blue.png") no-repeat center;
      background-size: contain;
    }

    .insta:hover {
      transform: rotate(360deg);
      background: url("../images/icons/insta-blue.png") no-repeat center;
      background-size: contain;
    }

    .fb{
      background: url("../images/icons/fb-grey.png") no-repeat center;
      background-size: contain;
    }

    .insta{
      background: url("../images/icons/insta-grey.png") no-repeat center;
      background-size: contain;
    }

    .photographe{
      color: $grey;
    }
  }


  #about{

    .tony_portrait{
      width: 100%;
    }
    .about_tony{
      //border: 1px solid red;
      li{
        margin: 1em 2em;
      }
      li:before{
        content: '';
        display: block;
        background: url("../images/icons/logo-rond-noir.png")no-repeat center;
        background-size: contain;
        //border: 1px solid red;
        width: 10px;
        height: 10px;
        position: relative;
        left: -20px;
        top:10px;
      }
    }

    .quote{
      font-size: 150%;
    }


  }

}
@media screen and (min-width: 600px) {

  #contact{

    .tony_portrait{
      width: 40%;
      text-align: right;
      img{
        max-width: 50%;
      }
    }

    .about_tony{
      width: 40%;
      font-size: 110%;
    }

  }

  #about{
    .about_tony{
      width: 40%;
      padding: 1em 0;
      align-self: flex-start;
    }

    .tony_portrait{
      width: 50%;
      //order:1;
    }
  }
}

@media screen and (min-width: 1024px) {

  #about,#contact {
    .tony {
      width: 80%;
    }
  }

  #contact{

    .tony_portrait{
      width: 40%;
      text-align: right;
      img{
        max-width: 35%;
      }
    }

    .about_tony{
      width: 40%;
      text-align: left;
      font-size: 110%;
    }

    .contact_me, .formulaire{
      text-align: center;
      width: 70%;
    }

  }
}
