@media screen and (min-width: 300px){

  .tony{
    padding: 0 1em;
    justify-content: space-around;
    div{
      width: 100%;
      &.tony_portrait, &.about_tony{
        margin-top: 1em;
      }
    }

    h2{
      font-size: 180%;
      padding: 0;
    }

    .photographe{
      font-size: 80%;
      color: $black;
      position: relative;
      top: -5px;
    }
  }

  .tony_portrait {
    //border: 1px solid red;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  #about{
    .about_tony{
      p{
        line-height: 1.2em;
      }
  }

    .quote{
      font-size: 150%;
    }
  }

  .social{

    p{
      width: 100%;
      margin: .5em 0;
    }

    a{
      display: inline-block;
      width: 32px;
      height: 32px;
    }

    .fb{
      background: url("../images/fb2.png") no-repeat center;
    }

    .insta{
      background: url("../images/insta2.png") no-repeat center;
    }
  }
}

@media screen and (min-width: 600px) {
  .tony{
    .tony_portrait, .about_tony{
      width: 40%;
    }

    .tony_portrait{
      flex-grow: 2;
    }

    h2{
      font-size: 300%;
    }

    .photographe{
      font-size: 120%;
    }
  }

  .about_tony{
    padding: 1em;
    align-content: flex-start;
  }

  .title{
    align-self: flex-start;
    width: 100%;
  }
  .social{
    width: 100%;
    margin-top: 1em;

    a{
      display: block;
      margin: .5em 0;
    }
  }

  #about{
    .tony_portrait{
      order:1;
    }

    .about_tony{
      padding: 0 1em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .tony{
    justify-content: center;
    .tony_portrait{
      flex-grow: 0;
    }
    .about_tony{
      flex-grow: 0;
    }

    .photographe{
      font-size: 150%;
    }
  }
}

@media screen and (min-width: 1450px) {
  .tony{
    .tony_portrait, .about_tony{
      width: 30%;
    }
  }
}
