@media screen and (min-width: 300px){
  header{
    width: 100%;
    font-size: 90%;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  nav{
    margin: auto;

  ul{
      width: 100%;
      margin: 1em 0;
      justify-content: space-around;
      align-items: baseline;
    }
    li{
      padding:.2em 0;
    }
  }

  .link {
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 2;
    //color: $black;
    display: inline-block;
    //-webkit-transition: all 0.7s ease;
    //transition: all 0.7s ease;
  }

  .link_hover::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 200;
    overflow: hidden;
    color: $black;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
  }

  .link_hover:hover::before {
    width: 100%;
  }


  .logo{
    position: fixed;
    left:50%;
    z-index: -100;
    width: 90px;
    height: 90px;
    img,svg{
      max-width: 100%;
      height: auto;
      position: absolute;
      top:0;
      left: 0;
      transform: translateZ(0);
      backface-visibility: hidden;
    }

    img{
      opacity: 0;
      animation-name: show;
      animation-delay:2s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }

    #path3488{
      stroke: #000;
      fill: white;
      stroke-width: 2;
      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
      animation: draw 2s linear;
    }
  }

  @keyframes draw {

    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes show {

    to {
      opacity: 1;
    }
  }

}

@media screen and (min-width: 600px){

  header{
    font-size: 110%;
  }

  nav{

    ul{
      justify-content: center;
    }
    li{
      margin:0 .5em ;
    }
  }

  .logo{
    width:180px;
    height: 180px;
  }

}

@media screen and (min-width: 1024px){

  nav{
    .nav_bar{
      width: 55%;
      margin:1em auto;
      justify-content: space-around;
      font-size: 130%;
    }
  }

}


