@media screen and (min-width: 300px){
  header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
  }

  nav{
    margin: auto;
    ul{
      width: 100%;
      margin: 0 auto;
      justify-content: space-around;
    }
    a{
      padding: 0 .2em;
    }
  }

  .logo{
    position: fixed;
    left:50%;
    z-index: -100;
    width: 170px;
    //border: 1px solid greenyellow;
    img{
      max-width: 100%;
      height: auto;
    }
  }

}

@media screen and (min-width: 600px){

  nav{
    font-size: 150%;
    ul{
      justify-content: center;
    }
    li{
      margin: .5em;
    }
    a{
      padding: 0 .5em;
    }
  }

}




