@media screen and (min-width: 300px){
  header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: $whiteOpac;
    z-index: 100;
  }

  nav{
    margin: auto;
    ul{
      width: 100%;
      margin: 0.5em auto;
      justify-content: space-around;
    }
    a{
      padding:.2em;
    }
  }

  .logo{
    position: fixed;
    left:50%;
    z-index: -100;
    width: 90px;
    //border: 1px solid greenyellow;
    img{
      max-width: 100%;
      height: auto;
    }
  }

}

@media screen and (min-width: 600px){

  nav{
    font-size: 150%;
    ul{
      justify-content: center;
    }
    li{
      margin: .5em ;
    }
  }

  .logo{
    width: 180px;
  }

}




