@media screen and (min-width: 300px) {

  .category,.price{
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: baseline;
    a{
      padding: 0.2em;
    }

    li{
      //font-size: 1.1em;
      padding: 1em 0;
      margin: 0 .5em;
    }
  }

  .album_title {
    display: none;
  }

  #portfolio{
    p{
      //text-align: center;
      padding: .5em 0;
    }

    .delete{
      text-align: right;
    }
  }

  .ml,.xs{
    display: none;
  }

  .xs{
    flex-direction: column;
  }

  .menu_xs{
    width: 100%;

    p{
      text-align: left;
      margin: .5em 0em;
    }

    p::before{
      content:"";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      vertical-align: middle;
      left: -12px;
      background: url('../images/icons/menu.png');
    }
  }

  .imgProfil{
    align-items: flex-start;
    justify-content: center;
    img{
      width:100px;
      height: auto;
      margin: 5px;
    }
  }

  .slider,.sliderImg{
    width: 100%;
    position: fixed;
    margin-left:-50%;
    top:0%;
    left: 50%;
    z-index: 100;
  }

  .slider{
    display: none;
    height: 100vh;
    background-color: white;
  }

  .sliderImg{
    z-index: 150;
    height: 95vh;
  }

  .pagination{
    //border: 1px solid red;
    position: absolute;
    width: 100%;
    background-color: white;
    justify-content: space-between;

    .back{
      background: url("../images/icons/cancel.png")no-repeat center;
      background-size: contain;
    }
  }
}

@media screen and (min-width: 600px) {
  .ml{
    display: flex;
  }

  .menu_xs{
    display: none;
  }
}


