@media screen and (min-width: 300px) {
  .category{
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: baseline;
    a{
      padding: 0.2em;
    }

    li{
      font-size: .9em;
      padding: 1em 0;
      margin: 0 .5em;
    }
  }
  #portfolio{
    p{
      text-align: left;
      padding: .5em 0;
    }

    .delete{
      text-align: right;
    }
  }

  .ml,.xs{
    display: none;
  }

  .xs{
    flex-direction: column;
  }

  .menu_xs{
    width: 100%;

    p{
      margin: .5em 1.5em;
    }

    p::before{
      content:"";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      vertical-align: middle;
      left: -12px;
      background: url('../images/menu.png');
    }
  }

  .imgProfil{
    align-items: flex-start;
    justify-content: center;
    img{
      width:100px;
      height: auto;
      margin: 5px;
    }
  }
}

@media screen and (min-width: 600px) {
  .ml{
    display: flex;
  }

  .menu_xs{
    display: none;
  }
}


