@media screen and (min-width: 300px) {

  .portfolio{


    .category{
      width: 100%;
      margin: auto;
      justify-content: center;
      a{
        padding: 0 .5em;
      }
    }

    li{
      font-size: .9em;
      padding: 1em 0;
      margin: 0 .5em;
    }

    p{
      text-align: left;
      padding: .5em 0;
    }

    .delete{
      text-align: right;
    }
  }

  .imgProfil{
    align-items: flex-start;
    justify-content: center;
    img{
      width:100px;
      height: auto;
      margin: 5px;
    }
  }
}



