@media screen and (min-width: 300px) {

  #tarif{

    text-align: center;
    .price{
      text-align: left;
    }


    article{
      width: 100%;
      margin: 1em auto ;
      align-items: center;
      justify-content: space-around;
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }

  figcaption{
    padding: 1em 0;
    p{
      line-height: 1.2em;
    }
  }

#pro{
  margin-top: 2em;
}

.shooting_category{
  h2,h3{
    text-align: center;
  }
}

  .particular_price::after{
    content:"";
    display: block;
    width: 80%;
    margin: 1em auto 0;
    border-top:1px solid $grey;
  }

  .mail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    a{
      padding: 1em;
      color: $dark;
    }
  }
}

@media screen and (min-width: 600px) {

  #tarif{
    article{
      width: 30%;
    }
  }

  .price{
    li{
      margin: 0 2em;
    }
  }
}

@media screen and (min-width: 1024px) {

  #tarif{
    .shooting_category{
      margin: auto;
      width: 80%;
    }

  }

}



