html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Roboto Condensed', Helvetica; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@media screen and (min-width: 300px) {
  body {
    font-size: 110%;
    color: #9E9E9E;
    visibility: hidden; }
    body a {
      color: #9E9E9E; }

  .container {
    width: 95%;
    margin: auto;
    border-top: 1px solid #9E9E9E; }

  .flex {
    display: flex;
    flex-flow: wrap; }

  button {
    display: block;
    padding: .5em 1em;
    border-radius: 4px;
    border-size: 1px; }

  .button {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em auto;
    text-align: center; }

  h1, h2, h3 {
    width: 100%;
    padding: .5em 0;
    text-transform: uppercase;
    font-weight: bolder; }

  .fixed {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    z-index: 100; }

  .active {
    background-color: #39BDB7;
    border-radius: 4px;
    color: #fff; }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Span ----- XXXXXXXXXXXXXXXXXXXXXX*/
  .span_img {
    display: block;
    margin: .5em;
    background-size: cover;
    width: 24px;
    height: 24px; }

  .back {
    background: url("../images/back-arrow.png") no-repeat center; }

  .del, .delAlbum {
    background: url("../images/delete.png") no-repeat center; }

  .circle_back {
    background: url("../images/circle2.png") no-repeat center; }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Mansonry ----- XXXXXXXXXXXXXXXXXXXXXX*/
  .grid {
    width: 100%;
    margin: 0 auto; }

  .grid-item {
    width: 300px;
    float: left;
    margin: 8px;
    text-align: center; }

  .grid_overflow {
    width: 100%;
    overflow: hidden; }

  .album img {
    max-width: 100%;
    height: auto;
    transition: all 2s; }

  .grid_overflow:hover img {
    transform: scale(1.1); } }
@media screen and (min-width: 300px) and (min-width: 600px) {
  .grid-item--gigante {
    width: 580px;
    height: auto; } }
@media screen and (min-width: 300px) and (min-width: 1050px) {
  .grid-item--gigante {
    width: 800px;
    height: auto; } }
@media screen and (min-width: 300px) {
  /*XXXXXXXXXXXXXXXXXXXXXX ----- Update Form ----- XXXXXXXXXXXXXXXXXXXXXX*/
  .update_form {
    display: none;
    width: 90%;
    border: 1px solid #9E9E9E;
    position: fixed;
    top: 34%;
    left: 50%;
    transform: translate(-50%);
    background-color: floralwhite;
    opacity: .95;
    z-index: 100; }
    .update_form form {
      margin: 0 auto;
      flex-flow: wrap;
      justify-content: center;
      text-align: center; }
    .update_form h3 {
      text-align: center; }
    .update_form label, .update_form input, .update_form textarea {
      width: 70%; }
    .update_form label {
      margin: 1em 0 .5em; }
    .update_form input, .update_form textarea {
      border: none;
      border-bottom: 1px solid #9E9E9E;
      outline: none; }
    .update_form input[type=file] {
      width: auto; }

  .confirmation {
    padding: 1em 0; }
    .confirmation p {
      margin-bottom: 2em; }
    .confirmation a {
      margin: 1em;
      color: #FFFAF0;
      background-color: #9E9E9E;
      border: 1px solid #9E9E9E;
      border-radius: 4px;
      padding: 0 .5em; }

  #login .update_form {
    display: block; } }
@media screen and (min-width: 600px) {
  body {
    font-size: 1em; }

  .update_form {
    width: 60%; } }
@media screen and (min-width: 1050px) {
  .update_form {
    width: 40%; } }
@media screen and (min-width: 300px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    z-index: 100; }

  nav {
    margin: auto; }
    nav ul {
      width: 100%;
      margin: 0.5em auto;
      justify-content: space-around; }
    nav a {
      padding: .2em; }

  .logo {
    position: fixed;
    left: 50%;
    z-index: -100;
    width: 90px; }
    .logo img {
      max-width: 100%;
      height: auto; } }
@media screen and (min-width: 600px) {
  nav {
    font-size: 150%; }
    nav ul {
      justify-content: center; }
    nav li {
      margin: 0.5em; }

  .logo {
    width: 180px; } }
@media screen and (min-width: 300px) {
  #blog article {
    justify-content: space-around;
    align-items: center;
    margin: 1em auto; }
  #blog article::after {
    content: "";
    display: block;
    width: 100%;
    margin: 1em auto 0;
    border-top: 1px solid #9E9E9E; }
  #blog a {
    color: #232123;
    text-decoration: underline;
    margin: .5em 0; }
  #blog .update_blog, #blog .detail, #blog .description {
    width: 100%; }
  #blog .description {
    overflow: hidden;
    line-height: 1.1em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: .5em auto; }
  #blog .img_detail {
    display: none; }
  #blog .date {
    font-size: .8em;
    position: relative;
    top: -5px;
    color: #232123; }

  .more {
    background: url("../images/more.png"); } }
@media screen and (min-width: 600px) {
  #blog article {
    justify-content: space-between;
    align-items: center; }
  #blog .detail {
    width: 65%; }
  #blog .img_detail {
    display: block;
    width: 30%;
    align-self: center; }
    #blog .img_detail img {
      max-width: 100%;
      height: auto; } }
@media screen and (min-width: 1050px) {
  #blog article {
    width: 70%;
    justify-content: space-around;
    align-items: center; }
  #blog .detail {
    width: 65%; }
  #blog .img_detail {
    display: block;
    width: 20%;
    align-self: center; }
    #blog .img_detail img {
      max-width: 100%;
      height: auto; } }
@media screen and (min-width: 300px) {
  #article .detail_article {
    width: 90%;
    padding: .5em;
    margin: auto; }
  #article .date {
    margin-bottom: 1em;
    font-size: .8em; }
  #article .album_article {
    width: 100%;
    margin-top: 2em; }
    #article .album_article img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1em; } }
@media screen and (min-width: 600px) {
  #article .detail_article {
    width: 60%; } }
@media screen and (min-width: 1050px) {
  #article .detail_article {
    width: 40%; } }
@media screen and (min-width: 300px) {
  .tony {
    padding: 0 1em;
    justify-content: space-around; }
    .tony div {
      width: 100%; }
      .tony div.tony_portrait, .tony div.about_tony {
        margin-top: 1em; }
    .tony h2 {
      font-size: 180%;
      padding: 0; }
    .tony .photographe {
      font-size: 80%;
      color: #232123;
      position: relative;
      top: -5px; }

  .tony_portrait img {
    max-width: 100%;
    height: auto; }

  #about .about_tony p {
    line-height: 1.2em; }
  #about .quote {
    font-size: 150%; }

  .social p {
    width: 100%;
    margin: .5em 0; }
  .social a {
    display: inline-block;
    width: 32px;
    height: 32px; }
  .social .fb {
    background: url("../images/fb2.png") no-repeat center; }
  .social .insta {
    background: url("../images/insta2.png") no-repeat center; } }
@media screen and (min-width: 600px) {
  .tony .tony_portrait, .tony .about_tony {
    width: 40%; }
  .tony .tony_portrait {
    flex-grow: 2; }
  .tony h2 {
    font-size: 300%; }
  .tony .photographe {
    font-size: 120%; }

  .about_tony {
    padding: 1em;
    align-content: flex-start; }

  .title {
    align-self: flex-start;
    width: 100%; }

  .social {
    width: 100%;
    margin-top: 1em; }
    .social a {
      display: block;
      margin: .5em 0; }

  #about .tony_portrait {
    order: 1; }
  #about .about_tony {
    padding: 0 1em; } }
@media screen and (min-width: 1024px) {
  .tony {
    justify-content: center; }
    .tony .tony_portrait {
      flex-grow: 0; }
    .tony .about_tony {
      flex-grow: 0; }
    .tony .photographe {
      font-size: 150%; } }
@media screen and (min-width: 1450px) {
  .tony .tony_portrait, .tony .about_tony {
    width: 30%; } }
@media screen and (min-width: 300px) {
  .portfolio .category {
    width: 100%;
    margin: auto;
    justify-content: center; }
    .portfolio .category a {
      padding: 0.2em; }
  .portfolio li {
    font-size: .9em;
    padding: 1em 0;
    margin: 0 .5em; }
  .portfolio p {
    text-align: left;
    padding: .5em 0; }
  .portfolio .delete {
    text-align: right; }

  .ml, .xs {
    display: none; }

  .xs {
    flex-direction: column; }

  .menu_xs {
    width: 100%; }
    .menu_xs p {
      margin: 0 1.5em; }
    .menu_xs p::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      vertical-align: middle;
      left: -12px;
      background: url("../images/menu.png"); }

  .imgProfil {
    align-items: flex-start;
    justify-content: center; }
    .imgProfil img {
      width: 100px;
      height: auto;
      margin: 5px; } }
@media screen and (min-width: 600px) {
  .ml {
    display: flex; }

  .menu_xs {
    display: none; } }

/*# sourceMappingURL=index.css.map */
