html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Josefin Sans', Helvetica; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@media screen and (min-width: 300px) {
  body {
    font-size: 105%;
    color: #9E9E9E;
    visibility: hidden; }
    body a {
      color: #9E9E9E; }

  section {
    padding: 1.2em 0; }

  .container {
    width: 95%;
    margin: auto; }

  .flex {
    display: flex;
    flex-flow: wrap; }

  button {
    display: block;
    padding: .5em 1em;
    border-radius: 4px;
    border-size: 1px; }

  .button {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em auto;
    text-align: center; }

  h1, h2, h3 {
    width: 100%;
    padding: .5em 0;
    color: #0C5288;
    text-transform: uppercase;
    font-weight: bolder; }

  .fixed {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    z-index: 100; }

  .active {
    color: #0C5288;
    font-weight: bolder;
    font-size: 120%; }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Span ----- XXXXXXXXXXXXXXXXXXXXXX*/
  .span_img {
    display: block;
    margin: .5em;
    width: 24px;
    height: 24px; }

  .back {
    background: url("../images/back-arrow.png") no-repeat center;
    background-size: contain; }

  .del, .delAlbum {
    background: url("../images/delete.png") no-repeat center;
    background-size: contain; }

  .circle_back {
    background: url("../images/left-arrow.png") no-repeat center;
    background-size: contain; }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Mansonry ----- XXXXXXXXXXXXXXXXXXXXXX*/
  .grid {
    width: 100%;
    margin: 0 auto; }

  .grid-item {
    width: 300px;
    float: left;
    text-align: center; }

  .grid_overflow {
    width: 100%;
    overflow: hidden; }

  .album img {
    max-width: 100%;
    height: auto;
    transition: all 2s; }

  .grid_overflow:hover img {
    transform: scale(1.1); } }
@media screen and (min-width: 300px) and (min-width: 600px) {
  .grid-item--gigante {
    width: 450px;
    height: auto; }

  .grid-item {
    margin: 5px; } }
@media screen and (min-width: 300px) and (min-width: 1050px) {
  .grid-item--gigante {
    width: 450px;
    height: auto; } }
@media screen and (min-width: 300px) {
  /*XXXXXXXXXXXXXXXXXXXXXX ----- Update Form ----- XXXXXXXXXXXXXXXXXXXXXX*/
  .update_form {
    display: none;
    width: 90%;
    border: 1px solid #9E9E9E;
    position: fixed;
    top: 34%;
    left: 50%;
    transform: translate(-50%);
    background-color: floralwhite;
    opacity: .95;
    z-index: 100; }

  form {
    margin: 0 auto;
    flex-flow: wrap;
    justify-content: center;
    text-align: center; }
    form h3 {
      text-align: center; }
    form label, form input, form textarea {
      width: 70%; }
    form label {
      margin: 1em 0 .5em; }
    form input, form textarea {
      border: none;
      border-bottom: 1px solid #9E9E9E;
      outline: none; }
    form input[type=file] {
      width: auto; }

  .confirmation {
    padding: 1em 0; }
    .confirmation p {
      margin-bottom: 2em; }
    .confirmation a {
      margin: 1em;
      color: #FFFAF0;
      background-color: #9E9E9E;
      border: 1px solid #9E9E9E;
      border-radius: 4px;
      padding: 0 .5em; }

  #login .update_form {
    display: block; } }
@media screen and (min-width: 600px) {
  body {
    font-size: 1em; }

  .update_form {
    width: 60%; } }
@media screen and (min-width: 1050px) {
  .update_form {
    width: 40%; } }
@media screen and (min-width: 300px) {
  header {
    width: 100%;
    font-size: 90%;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }

  nav {
    margin: auto; }
    nav ul {
      width: 100%;
      margin: .5em 0;
      justify-content: space-around;
      align-items: baseline; }
    nav a {
      padding: .2em 0; }

  .logo {
    position: fixed;
    left: 50%;
    z-index: -100;
    width: 90px;
    height: 90px; }
    .logo img, .logo svg {
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateZ(0);
      backface-visibility: hidden; }
    .logo img {
      opacity: 0;
      animation-name: show;
      animation-delay: 2s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear; }
    .logo #path3488 {
      stroke: #000;
      fill: white;
      stroke-width: 2;
      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
      animation: draw 2s linear; }

  @keyframes draw {
    to {
      stroke-dashoffset: 0; } }
  @keyframes show {
    to {
      opacity: 1; } } }
@media screen and (min-width: 600px) {
  nav ul {
    justify-content: center; }
  nav li {
    margin: 0 0.5em; }

  .logo {
    width: 180px;
    height: 180px; } }
@media screen and (min-width: 300px) {
  #blog article {
    display: none; }
  #blog .blog {
    justify-content: space-around;
    align-items: center;
    margin: 1em auto; }
  #blog article::after {
    content: "";
    display: block;
    width: 80%;
    margin: 1em auto 0;
    border-top: 1px solid #9E9E9E; }
  #blog a {
    color: #232123;
    text-decoration: underline;
    margin: .5em 0; }
  #blog .update_blog, #blog .detail, #blog .description {
    width: 100%; }
  #blog .description {
    overflow: hidden;
    line-height: 1.1em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: .5em auto; }
  #blog .img_detail {
    display: none; }
  #blog .date {
    font-size: .8em;
    position: relative;
    top: -5px;
    color: #232123; }

  .more {
    background: url("../images/right-arrow.png");
    background-size: contain; } }
@media screen and (min-width: 600px) {
  #blog .blog {
    justify-content: space-between;
    align-items: center; }
  #blog .detail {
    width: 65%; }
  #blog .img_detail {
    display: block;
    width: 30%;
    align-self: center; }
    #blog .img_detail img {
      max-width: 100%;
      height: auto; } }
@media screen and (min-width: 1050px) {
  #blog .blog {
    width: 70%;
    justify-content: space-around;
    align-items: center; }
  #blog .detail {
    width: 65%; }
  #blog .img_detail {
    display: block;
    width: 20%;
    align-self: center; }
    #blog .img_detail img {
      max-width: 100%;
      height: auto; } }
@media screen and (min-width: 300px) {
  #article .detail_article {
    width: 90%;
    padding: .5em;
    margin: auto; }
  #article .date {
    margin-bottom: 1em;
    font-size: .8em; }
  #article .album_article {
    width: 100%;
    margin-top: 2em; }
    #article .album_article img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1em; } }
@media screen and (min-width: 600px) {
  #article .detail_article {
    width: 60%; } }
@media screen and (min-width: 1050px) {
  #article .detail_article {
    width: 40%; } }
@media screen and (min-width: 300px) {
  .tony {
    width: 90%;
    margin: 1em auto;
    padding: 0 1em;
    justify-content: space-around;
    align-items: center; }
    .tony div {
      width: 100%; }
      .tony div.tony_portrait, .tony div.about_tony {
        margin-top: 1em; }
    .tony h2 {
      font-size: 180%;
      padding: 0; }
    .tony .photographe {
      font-size: 80%;
      color: #232123;
      position: relative;
      top: -5px; }

  .tony_portrait {
    width: 40%;
    align-self: baseline; }
    .tony_portrait img {
      max-width: 100%;
      height: auto; }

  #about .about_tony p {
    line-height: 1.2em; }
  #about .quote {
    font-size: 150%; }

  .social p {
    width: 100%;
    margin: .5em 0; }
  .social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: transform .5s ease-in-out; }
  .social .fb:hover {
    transform: rotate(360deg);
    background: url("../images/fb-blue.png") no-repeat center;
    background-size: contain; }
  .social .insta:hover {
    transform: rotate(360deg);
    background: url("../images/insta-blue.png") no-repeat center;
    background-size: contain; }
  .social .fb {
    background: url("../images/fb-grey.png") no-repeat center;
    background-size: contain; }
  .social .insta {
    background: url("../images/insta-grey.png") no-repeat center;
    background-size: contain; }

  #contact form {
    text-align: left;
    justify-content: flex-start; }
  #contact button {
    background-color: #0C5288;
    color: #FFFAF0;
    border: none; } }
@media screen and (min-width: 600px) {
  .tony .tony_portrait {
    width: 40%; }
  .tony .about_tony {
    width: 40%; }
  .tony h2 {
    font-size: 290%; }
  .tony .photographe {
    font-size: 120%; }

  .about_tony {
    font-size: 90%; }

  .title {
    width: 100%; }

  .social {
    width: 100%;
    margin-top: 1em; }
    .social a {
      margin: .5em 0; }

  #about .tony_portrait {
    order: 1; }
  #about .about_tony p {
    line-height: 2em; } }
@media screen and (min-width: 1024px) {
  .tony {
    justify-content: space-around; }
    .tony .tony_portrait {
      width: 40%; }
    .tony .about_tony {
      width: 30%; }
    .tony .photographe {
      font-size: 150%; } }
@media screen and (min-width: 1450px) {
  .tony .about_tony {
    font-size: 150%; } }
.slideLeft {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both; }

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both; }

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.slideRight {
  -webkit-animation-name: slideRight;
  animation-name: slideRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@media screen and (min-width: 300px) {
  .category {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: baseline; }
    .category a {
      padding: 0.2em; }
    .category li {
      font-size: .9em;
      padding: 1em 0;
      margin: 0 .5em; }

  #portfolio p {
    text-align: left;
    padding: .5em 0; }
  #portfolio .delete {
    text-align: right; }

  .ml, .xs {
    display: none; }

  .xs {
    flex-direction: column; }

  .menu_xs {
    width: 100%; }
    .menu_xs p {
      margin: .5em 1.5em; }
    .menu_xs p::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      vertical-align: middle;
      left: -12px;
      background: url("../images/menu.png"); }

  .imgProfil {
    align-items: flex-start;
    justify-content: center; }
    .imgProfil img {
      width: 100px;
      height: auto;
      margin: 5px; } }
@media screen and (min-width: 600px) {
  .ml {
    display: flex; }

  .menu_xs {
    display: none; } }
@media screen and (min-width: 300px) {
  #tarif h3 {
    padding: 0; }
  #tarif .price {
    justify-content: center; }
  #tarif article {
    width: 90%;
    margin: 1em auto; }

  .solo {
    margin: 1em auto;
    justify-content: center;
    align-items: center; }
    .solo img {
      max-width: 90%;
      height: auto;
      align-self: flex-start; }

  .price_detail {
    border-bottom: 1px solid #9E9E9E;
    width: 90%;
    padding: 1em; }
    .price_detail img {
      max-width: 100%;
      height: auto; }
    .price_detail li {
      margin: .2em auto; }

  .text_left .price_detail {
    order: 1; } }
@media screen and (min-width: 600px) {
  #tarif article {
    font-size: 105%; }

  .solo {
    justify-content: space-around;
    margin: 2em auto; }
    .solo img {
      max-width: 40%;
      height: auto; }

  .price_detail {
    width: 30%; }
    .price_detail img {
      max-width: 100%;
      height: auto; }

  .text_left {
    text-align: right; }
    .text_left .price_detail {
      order: 0; } }

/*# sourceMappingURL=index.css.map */
