/* line 1, ../../assets/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../../assets/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/* line 26, ../../assets/sass/_reset.scss */
body {
  line-height: 1;
  font-family: 'Open Sans Condensed', Helvetica;
}

/* line 30, ../../assets/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../../assets/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../../assets/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../../assets/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../../assets/sass/_reset.scss */
a {
  text-decoration: none;
}

@media screen and (min-width: 300px) {
  /* line 6, ../../assets/sass/_base.scss */
  body {
    font-size: 1.2em;
  }
  /* line 8, ../../assets/sass/_base.scss */
  body a {
    color: #474D54;
  }

  /* line 13, ../../assets/sass/_base.scss */
  section {
    background-color: #FFFFFF;
  }

  /* line 17, ../../assets/sass/_base.scss */
  .container {
    width: 95%;
    margin: auto;
  }

  /* line 22, ../../assets/sass/_base.scss */
  .flex {
    display: flex;
    flex-flow: wrap;
  }

  /* line 27, ../../assets/sass/_base.scss */
  button {
    display: block;
    margin: 1em auto;
    padding: .5em 1em;
    border-radius: 4px;
    border-size: 1px;
  }

  /* line 35, ../../assets/sass/_base.scss */
  .button {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em auto;
    text-align: center;
  }

  /* line 43, ../../assets/sass/_base.scss */
  h1, h2, h3 {
    width: 100%;
    padding: .5em 0;
    text-transform: uppercase;
    font-weight: bolder;
  }

  /* line 50, ../../assets/sass/_base.scss */
  .fixed {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    background-color: #FFFFFF;
    z-index: 100;
    opacity: .7;
  }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Span ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 62, ../../assets/sass/_base.scss */
  .span_img {
    display: block;
    margin: .5em;
    background-size: cover;
    width: 24px;
    height: 24px;
  }

  /* line 70, ../../assets/sass/_base.scss */
  .back {
    background: url("../images/back-arrow.png") no-repeat center;
  }

  /* line 74, ../../assets/sass/_base.scss */
  .del, .delAlbum {
    background: url("../images/delete.png") no-repeat center;
  }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Mansonry ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 79, ../../assets/sass/_base.scss */
  .grid {
    width: 100%;
    margin: 0 auto;
  }

  /* line 84, ../../assets/sass/_base.scss */
  .grid-item {
    width: 300px;
    float: left;
    margin: 8px;
    text-align: center;
  }

  /* line 91, ../../assets/sass/_base.scss */
  .album img {
    max-width: 100%;
    height: auto;
  }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Update Form ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 97, ../../assets/sass/_base.scss */
  .update_form {
    display: none;
    width: 90%;
    border: 1px solid #474D54;
    position: fixed;
    top: 34%;
    left: 50%;
    transform: translate(-50%);
    background-color: floralwhite;
    opacity: .95;
    z-index: 100;
  }
  /* line 108, ../../assets/sass/_base.scss */
  .update_form form {
    margin: 0 auto;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
  }
  /* line 115, ../../assets/sass/_base.scss */
  .update_form label, .update_form input, .update_form textarea {
    width: 70%;
  }
  /* line 119, ../../assets/sass/_base.scss */
  .update_form label {
    margin: 1em 0 .5em;
  }
  /* line 123, ../../assets/sass/_base.scss */
  .update_form input, .update_form textarea {
    border: none;
    border-bottom: 1px solid darkgrey;
    outline: none;
  }
  /* line 129, ../../assets/sass/_base.scss */
  .update_form input[type=file] {
    width: auto;
  }

  /* line 134, ../../assets/sass/_base.scss */
  .confirmation {
    padding: 1em 0;
  }
  /* line 137, ../../assets/sass/_base.scss */
  .confirmation p {
    margin-bottom: 2em;
  }
  /* line 141, ../../assets/sass/_base.scss */
  .confirmation a {
    margin: 1em;
    color: #FFFAF0;
    background-color: #474D54;
    border: 1px solid #474D54;
    border-radius: 4px;
    padding: 0 .5em;
  }

  /* line 152, ../../assets/sass/_base.scss */
  #login .update_form {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  /* line 159, ../../assets/sass/_base.scss */
  .update_form {
    width: 60%;
  }
}
@media screen and (min-width: 1050px) {
  /* line 165, ../../assets/sass/_base.scss */
  .update_form {
    width: 40%;
  }
}
@media screen and (min-width: 300px) {
  /* line 2, ../../assets/sass/_header.scss */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #FFFFFF;
    opacity: .7;
    z-index: 100;
  }

  /* line 14, ../../assets/sass/_header.scss */
  nav {
    margin: auto;
  }
  /* line 16, ../../assets/sass/_header.scss */
  nav ul {
    width: 100%;
    margin: .5em auto;
    justify-content: space-around;
  }
  /* line 22, ../../assets/sass/_header.scss */
  nav a:after {
    content: "";
    display: block;
    margin-top: .5em;
    border: 1px solid #3D4C56;
    transform: scaleX(0);
  }
  /* line 30, ../../assets/sass/_header.scss */
  nav a:hover:after {
    transform: scaleX(1);
    transition: all .2s ease-in-out;
  }
  /* line 35, ../../assets/sass/_header.scss */
  nav .isActive {
    color: red;
  }
  /* line 39, ../../assets/sass/_header.scss */
  nav .isActive:after {
    width: 100%;
  }

  /* line 46, ../../assets/sass/_header.scss */
  .logo {
    position: fixed;
    left: 50%;
    z-index: -100;
    width: 180px;
  }
  /* line 52, ../../assets/sass/_header.scss */
  .logo img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 600px) {
  /* line 62, ../../assets/sass/_header.scss */
  nav ul {
    justify-content: center;
  }
  /* line 65, ../../assets/sass/_header.scss */
  nav li {
    margin: .5em;
  }
}
@media screen and (min-width: 300px) {
  /* line 3, ../../assets/sass/_blog.scss */
  #blog article {
    justify-content: space-around;
    align-items: center;
  }
  /* line 8, ../../assets/sass/_blog.scss */
  #blog article::after {
    content: "";
    display: block;
    width: 50%;
    margin: 2em auto;
    border: 1px solid grey;
  }
  /* line 16, ../../assets/sass/_blog.scss */
  #blog a {
    color: darkslateblue;
    text-decoration: underline;
  }
  /* line 21, ../../assets/sass/_blog.scss */
  #blog .update_blog, #blog .detail, #blog .description {
    width: 100%;
  }
  /* line 25, ../../assets/sass/_blog.scss */
  #blog .description {
    overflow: hidden;
    line-height: 1.1em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: .5em auto;
  }
  /* line 34, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: none;
  }
  /* line 38, ../../assets/sass/_blog.scss */
  #blog .date {
    font-size: .8em;
    margin: .5em;
  }
}
@media screen and (min-width: 600px) {
  /* line 48, ../../assets/sass/_blog.scss */
  #blog article {
    justify-content: space-between;
    align-items: center;
  }
  /* line 52, ../../assets/sass/_blog.scss */
  #blog .detail {
    width: 65%;
  }
  /* line 56, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: block;
    width: 30%;
    align-self: center;
  }
  /* line 60, ../../assets/sass/_blog.scss */
  #blog .img_detail img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1050px) {
  /* line 71, ../../assets/sass/_blog.scss */
  #blog article {
    width: 70%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }
  /* line 77, ../../assets/sass/_blog.scss */
  #blog .detail {
    width: 65%;
  }
  /* line 81, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: block;
    width: 20%;
    align-self: center;
  }
  /* line 85, ../../assets/sass/_blog.scss */
  #blog .img_detail img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 90%;
    padding: .5em;
    margin: auto;
  }
  /* line 10, ../../assets/sass/_article.scss */
  #article .date {
    margin-bottom: 1em;
    font-size: .8em;
  }
  /* line 15, ../../assets/sass/_article.scss */
  #article .album_article {
    width: 100%;
    margin-top: 2em;
  }
  /* line 18, ../../assets/sass/_article.scss */
  #article .album_article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 600px) {
  /* line 29, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 60%;
  }
}
@media screen and (min-width: 1050px) {
  /* line 37, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 40%;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_portfolio.scss */
  .portfolio .category {
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  /* line 10, ../../assets/sass/_portfolio.scss */
  .portfolio li {
    font-size: .9em;
    margin: 0.5em;
  }
  /* line 15, ../../assets/sass/_portfolio.scss */
  .portfolio p {
    padding: .5em;
  }
  /* line 19, ../../assets/sass/_portfolio.scss */
  .portfolio .delete {
    text-align: right;
  }
}
