/* line 1, ../../assets/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../../assets/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url(../font/MyriadProRegular/MyriadProRegular.ttf);
}
/* line 37, ../../assets/sass/_reset.scss */
body {
  line-height: 1;
  font-family: "Myriad Pro Regular","Helvetica Neue";
}

/* line 45, ../../assets/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 48, ../../assets/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../../assets/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../../assets/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../../assets/sass/_reset.scss */
a {
  text-decoration: none;
}

@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_core.scss */
  body {
    font-size: 90%;
    color: #111419;
    visibility: hidden;
  }
  /* line 8, ../../assets/sass/_core.scss */
  body a {
    color: #9E9E9E;
  }

  /* line 13, ../../assets/sass/_core.scss */
  section {
    padding: .5em 0;
  }

  /* line 17, ../../assets/sass/_core.scss */
  .container {
    width: 95%;
    margin: auto;
  }

  /* line 22, ../../assets/sass/_core.scss */
  .flex {
    display: flex;
    flex-flow: wrap;
  }

  /* line 27, ../../assets/sass/_core.scss */
  button {
    display: block;
    padding: .5em 1em;
    border-radius: 4px;
    border-size: 1px;
  }

  /* line 34, ../../assets/sass/_core.scss */
  .button {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em auto;
    text-align: center;
  }

  /* line 42, ../../assets/sass/_core.scss */
  h1, h2, h3 {
    width: 100%;
    padding: .5em 0;
    color: #111419;
    text-transform: uppercase;
    font-weight: bolder;
  }

  /* line 50, ../../assets/sass/_core.scss */
  .fixed {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    z-index: 100;
  }

  /* line 59, ../../assets/sass/_core.scss */
  .active {
    color: #111419;
    font-size: 120%;
  }

  /* line 65, ../../assets/sass/_core.scss */
  .mention {
    margin: 2em 0 1em;
    text-align: center;
  }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Span ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 73, ../../assets/sass/_core.scss */
  .span_img {
    display: block;
    margin: .5em;
    width: 20px;
    height: 20px;
  }

  /* line 80, ../../assets/sass/_core.scss */
  .back {
    background: url("../images/icons/back-arrow.png") no-repeat center;
    background-size: contain;
  }

  /* line 85, ../../assets/sass/_core.scss */
  .del, .delAlbum {
    background: url("../images/icons/delete.png") no-repeat center;
    background-size: contain;
  }

  /* line 90, ../../assets/sass/_core.scss */
  .circle_back {
    background: url("../images/icons/left-arrow.png") no-repeat center;
    background-size: contain;
  }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Mansonry ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 96, ../../assets/sass/_core.scss */
  .grid {
    width: 100%;
    margin: 0 auto;
  }

  /* line 101, ../../assets/sass/_core.scss */
  .grid-item {
    width: 300px;
    float: left;
    text-align: center;
  }

  /* line 109, ../../assets/sass/_core.scss */
  .grid_overflow {
    width: 100%;
    overflow: hidden;
  }

  /* line 116, ../../assets/sass/_core.scss */
  .grid_overflow a {
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  /* line 123, ../../assets/sass/_core.scss */
  .album img {
    max-width: 100%;
    height: auto;
    transition: all 2s;
  }

  /* line 130, ../../assets/sass/_core.scss */
  .grid_overflow:hover img {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 300px) and (min-width: 600px) {
  /* line 135, ../../assets/sass/_core.scss */
  .grid-item--gigante {
    width: 100%;
    height: auto;
  }

  /* line 140, ../../assets/sass/_core.scss */
  .grid-item {
    margin: 5px;
  }

  /* line 144, ../../assets/sass/_core.scss */
  .album_title {
    display: none;
  }

  /* line 148, ../../assets/sass/_core.scss */
  .titleSlideOut {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @keyframes slideInDown {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    35% {
      visibility: hidden;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      visibility: hidden;
    }
  }
  /* line 175, ../../assets/sass/_core.scss */
  .titleSlideIn {
    display: block;
    position: relative;
    top: -2em;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @keyframes slideInUp {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}
@media screen and (min-width: 300px) and (min-width: 1050px) {
  /* line 203, ../../assets/sass/_core.scss */
  .grid-item--gigante {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 300px) {
  /*XXXXXXXXXXXXXXXXXXXXXX ----- Update Form ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 210, ../../assets/sass/_core.scss */
  .update_form {
    display: none;
    width: 90%;
    border: 1px solid #9E9E9E;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: floralwhite;
    opacity: .95;
    z-index: 100;
  }

  /* line 223, ../../assets/sass/_core.scss */
  #article_portrait {
    height: 180px;
    overflow-y: scroll;
  }

  /* line 229, ../../assets/sass/_core.scss */
  form {
    margin: 0 auto;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
  }
  /* line 236, ../../assets/sass/_core.scss */
  form h3 {
    text-align: center;
  }
  /* line 240, ../../assets/sass/_core.scss */
  form label, form input, form textarea {
    width: 70%;
  }
  /* line 244, ../../assets/sass/_core.scss */
  form label {
    margin: 1em 0 .5em;
  }
  /* line 248, ../../assets/sass/_core.scss */
  form input, form textarea {
    border: none;
    border-bottom: 1px solid #9E9E9E;
    outline: none;
  }
  /* line 254, ../../assets/sass/_core.scss */
  form input[type=file] {
    width: auto;
  }

  /* line 259, ../../assets/sass/_core.scss */
  .confirmation {
    padding: 1em 0;
  }
  /* line 262, ../../assets/sass/_core.scss */
  .confirmation p {
    margin-bottom: 2em;
  }
  /* line 266, ../../assets/sass/_core.scss */
  .confirmation a {
    margin: 1em;
    color: #111419;
    background-color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 0 .5em;
  }

  /* line 277, ../../assets/sass/_core.scss */
  #login .update_form {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  /* line 285, ../../assets/sass/_core.scss */
  body {
    font-size: 1em;
  }

  /* line 289, ../../assets/sass/_core.scss */
  .update_form {
    width: 60%;
  }
}
@media screen and (min-width: 1050px) {
  /* line 295, ../../assets/sass/_core.scss */
  .update_form {
    width: 40%;
  }
}
@media screen and (min-width: 300px) {
  /* line 2, ../../assets/sass/_header.scss */
  header {
    width: 100%;
    font-size: 90%;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  /* line 15, ../../assets/sass/_header.scss */
  nav {
    margin: auto;
  }
  /* line 18, ../../assets/sass/_header.scss */
  nav ul {
    width: 100%;
    margin: 1em 0;
    justify-content: space-around;
    align-items: baseline;
  }
  /* line 24, ../../assets/sass/_header.scss */
  nav li {
    padding: .2em 0;
  }

  /* line 29, ../../assets/sass/_header.scss */
  .link {
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 2;
    display: inline-block;
  }

  /* line 40, ../../assets/sass/_header.scss */
  .link_hover::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 200;
    overflow: hidden;
    color: #111419;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
  }

  /* line 51, ../../assets/sass/_header.scss */
  .link_hover:hover::before {
    width: 100%;
  }

  /* line 56, ../../assets/sass/_header.scss */
  .logo {
    position: fixed;
    left: 50%;
    z-index: -100;
    width: 90px;
    height: 90px;
  }
  /* line 62, ../../assets/sass/_header.scss */
  .logo img, .logo svg {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  /* line 72, ../../assets/sass/_header.scss */
  .logo img {
    opacity: 0;
    animation-name: show;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  /* line 82, ../../assets/sass/_header.scss */
  .logo #path3488 {
    stroke: #000;
    fill: white;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw 2s linear;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes show {
    to {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 600px) {
  /* line 110, ../../assets/sass/_header.scss */
  header {
    font-size: 110%;
  }

  /* line 116, ../../assets/sass/_header.scss */
  nav ul {
    justify-content: center;
  }
  /* line 119, ../../assets/sass/_header.scss */
  nav li {
    margin: 0 0.5em;
  }

  /* line 124, ../../assets/sass/_header.scss */
  .logo {
    width: 180px;
    height: 180px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 134, ../../assets/sass/_header.scss */
  nav .nav_bar {
    width: 55%;
    margin: 1em auto;
    justify-content: space-around;
    font-size: 130%;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_blog.scss */
  #blog article {
    display: none;
  }
  /* line 8, ../../assets/sass/_blog.scss */
  #blog .blog {
    justify-content: space-around;
    align-items: center;
    margin: 1em auto;
  }
  /* line 14, ../../assets/sass/_blog.scss */
  #blog article::after {
    content: "";
    display: block;
    width: 80%;
    margin: 1em auto 0;
    border-top: 1px solid #9E9E9E;
  }
  /* line 22, ../../assets/sass/_blog.scss */
  #blog a {
    color: #0C5288;
    text-decoration: underline;
    margin: .5em 0;
  }
  /* line 28, ../../assets/sass/_blog.scss */
  #blog .update_blog, #blog .detail, #blog .description {
    width: 100%;
  }
  /* line 32, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: none;
  }
  /* line 36, ../../assets/sass/_blog.scss */
  #blog .date {
    font-size: .8em;
    position: relative;
    top: -5px;
    color: #9E9E9E;
  }
  /* line 45, ../../assets/sass/_blog.scss */
  #blog p {
    overflow: hidden;
    line-height: 1.1em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: .5em auto;
  }

  /* line 58, ../../assets/sass/_blog.scss */
  .more {
    background: url("../images/icons/right-arrow.png");
    background-size: contain;
  }
}
@media screen and (min-width: 600px) {
  /* line 68, ../../assets/sass/_blog.scss */
  #blog .blog {
    justify-content: space-between;
    align-items: center;
  }
  /* line 72, ../../assets/sass/_blog.scss */
  #blog .detail {
    width: 65%;
  }
  /* line 76, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: block;
    width: 30%;
    align-self: center;
  }
  /* line 80, ../../assets/sass/_blog.scss */
  #blog .img_detail img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1050px) {
  /* line 91, ../../assets/sass/_blog.scss */
  #blog .blog {
    width: 70%;
    justify-content: space-around;
    align-items: center;
  }
  /* line 97, ../../assets/sass/_blog.scss */
  #blog .detail {
    width: 65%;
  }
  /* line 101, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: block;
    width: 20%;
    align-self: center;
  }
  /* line 105, ../../assets/sass/_blog.scss */
  #blog .img_detail img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 90%;
    padding: .5em;
    margin: auto;
  }
  /* line 8, ../../assets/sass/_article.scss */
  #article .detail_article p {
    width: 100%;
  }
  /* line 11, ../../assets/sass/_article.scss */
  #article .detail_article a {
    color: #0C5288;
    text-decoration: underline;
  }
  /* line 17, ../../assets/sass/_article.scss */
  #article .date {
    margin-bottom: 1em;
    font-size: .8em;
  }
  /* line 22, ../../assets/sass/_article.scss */
  #article .album_article {
    width: 100%;
    margin-top: 2em;
  }
  /* line 25, ../../assets/sass/_article.scss */
  #article .album_article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 600px) {
  /* line 36, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 60%;
  }
}
@media screen and (min-width: 1050px) {
  /* line 44, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 40%;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_about-contact.scss */
  #about .tony, #contact .tony {
    width: 100%;
    margin: 1em auto;
    justify-content: space-around;
    align-items: center;
  }
  /* line 11, ../../assets/sass/_about-contact.scss */
  #about .tony div.tony_portrait, #about .tony div.about_tony, #contact .tony div.tony_portrait, #contact .tony div.about_tony {
    margin-top: 1em;
  }
  /* line 16, ../../assets/sass/_about-contact.scss */
  #about .tony h2, #contact .tony h2 {
    font-size: 150%;
    padding: 0;
  }
  /* line 21, ../../assets/sass/_about-contact.scss */
  #about .tony h3, #contact .tony h3 {
    text-align: center;
    margin-bottom: 2em;
  }
  /* line 27, ../../assets/sass/_about-contact.scss */
  #about .tony_portrait, #contact .tony_portrait {
    width: 30%;
    align-self: baseline;
  }
  /* line 30, ../../assets/sass/_about-contact.scss */
  #about .tony_portrait img, #contact .tony_portrait img {
    max-width: 100%;
    height: auto;
  }

  /* line 39, ../../assets/sass/_about-contact.scss */
  #contact .photographe {
    color: #111419;
    position: relative;
    top: -5px;
  }
  /* line 45, ../../assets/sass/_about-contact.scss */
  #contact .about_tony {
    width: 60%;
    font-size: 90%;
  }
  /* line 50, ../../assets/sass/_about-contact.scss */
  #contact .contact_me {
    width: 90%;
    margin: 2em auto;
  }
  /* line 54, ../../assets/sass/_about-contact.scss */
  #contact .formulaire {
    width: 100%;
  }
  /* line 57, ../../assets/sass/_about-contact.scss */
  #contact form {
    width: 90%;
    text-align: left;
    justify-content: center;
  }
  /* line 63, ../../assets/sass/_about-contact.scss */
  #contact input {
    border: 1px solid #9E9E9E;
    width: 30%;
    height: 3em;
    flex-grow: 1;
  }
  /* line 70, ../../assets/sass/_about-contact.scss */
  #contact input:nth-child(2) {
    border-left: none;
  }
  /* line 74, ../../assets/sass/_about-contact.scss */
  #contact .sujet {
    width: 100%;
    border-top: none;
  }
  /* line 79, ../../assets/sass/_about-contact.scss */
  #contact textarea {
    border: 1px solid #9E9E9E;
    border-top: none;
    resize: none;
    width: 100%;
    height: 8em;
  }
  /* line 87, ../../assets/sass/_about-contact.scss */
  #contact button {
    background-color: #9E9E9E;
    color: #FFFAF0;
    border: none;
  }
  /* line 93, ../../assets/sass/_about-contact.scss */
  #contact button:hover {
    background-color: #0C5288;
  }

  /* line 98, ../../assets/sass/_about-contact.scss */
  .social {
    width: 100%;
  }
  /* line 100, ../../assets/sass/_about-contact.scss */
  .social p {
    width: 100%;
    margin: .5em 0;
  }
  /* line 105, ../../assets/sass/_about-contact.scss */
  .social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: transform .5s ease-in-out;
  }
  /* line 112, ../../assets/sass/_about-contact.scss */
  .social .fb:hover {
    transform: rotate(360deg);
    background: url("../images/icons/fb-blue.png") no-repeat center;
    background-size: contain;
  }
  /* line 118, ../../assets/sass/_about-contact.scss */
  .social .insta:hover {
    transform: rotate(360deg);
    background: url("../images/icons/insta-blue.png") no-repeat center;
    background-size: contain;
  }
  /* line 124, ../../assets/sass/_about-contact.scss */
  .social .fb {
    background: url("../images/icons/fb-grey.png") no-repeat center;
    background-size: contain;
  }
  /* line 129, ../../assets/sass/_about-contact.scss */
  .social .insta {
    background: url("../images/icons/insta-grey.png") no-repeat center;
    background-size: contain;
  }
  /* line 134, ../../assets/sass/_about-contact.scss */
  .social .photographe {
    color: #9E9E9E;
  }

  /* line 142, ../../assets/sass/_about-contact.scss */
  #about .tony_portrait {
    width: 100%;
  }
  /* line 147, ../../assets/sass/_about-contact.scss */
  #about .about_tony li {
    margin: 1em 2em;
  }
  /* line 150, ../../assets/sass/_about-contact.scss */
  #about .about_tony li:before {
    content: '';
    display: block;
    background: url("../images/icons/logo-rond-noir.png") no-repeat center;
    background-size: contain;
    width: 10px;
    height: 10px;
    position: relative;
    left: -20px;
    top: 10px;
  }
  /* line 164, ../../assets/sass/_about-contact.scss */
  #about .quote {
    font-size: 150%;
  }
}
@media screen and (min-width: 600px) {
  /* line 176, ../../assets/sass/_about-contact.scss */
  #contact .tony_portrait {
    width: 40%;
    text-align: right;
  }
  /* line 179, ../../assets/sass/_about-contact.scss */
  #contact .tony_portrait img {
    max-width: 50%;
  }
  /* line 184, ../../assets/sass/_about-contact.scss */
  #contact .about_tony {
    width: 40%;
    font-size: 110%;
  }

  /* line 192, ../../assets/sass/_about-contact.scss */
  #about .about_tony {
    width: 40%;
    padding: 1em 0;
    align-self: flex-start;
  }
  /* line 198, ../../assets/sass/_about-contact.scss */
  #about .tony_portrait {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 208, ../../assets/sass/_about-contact.scss */
  #about .tony, #contact .tony {
    width: 80%;
  }

  /* line 215, ../../assets/sass/_about-contact.scss */
  #contact .tony_portrait {
    width: 40%;
    text-align: right;
  }
  /* line 218, ../../assets/sass/_about-contact.scss */
  #contact .tony_portrait img {
    max-width: 35%;
  }
  /* line 223, ../../assets/sass/_about-contact.scss */
  #contact .about_tony {
    width: 40%;
    text-align: left;
    font-size: 110%;
  }
  /* line 229, ../../assets/sass/_about-contact.scss */
  #contact .contact_me, #contact .formulaire {
    text-align: center;
    width: 70%;
  }
}
/* line 1, ../../assets/sass/_animation.scss */
.slideLeft {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-delay: .7s;
  animation-fill-mode: both;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* line 19, ../../assets/sass/_animation.scss */
.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* line 37, ../../assets/sass/_animation.scss */
.fadeIn {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 53, ../../assets/sass/_animation.scss */
.slideRight {
  -webkit-animation-name: slideRight;
  animation-name: slideRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media screen and (min-width: 300px) {
  /* line 3, ../../assets/sass/_portfolio.scss */
  .category, .price {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: baseline;
  }
  /* line 8, ../../assets/sass/_portfolio.scss */
  .category a, .price a {
    padding: 0.2em;
  }
  /* line 12, ../../assets/sass/_portfolio.scss */
  .category li, .price li {
    padding: 1em 0;
    margin: 0 .5em;
  }

  /* line 19, ../../assets/sass/_portfolio.scss */
  .album_title {
    display: none;
  }

  /* line 24, ../../assets/sass/_portfolio.scss */
  #portfolio p {
    padding: .5em 0;
  }
  /* line 29, ../../assets/sass/_portfolio.scss */
  #portfolio .delete {
    text-align: right;
  }

  /* line 34, ../../assets/sass/_portfolio.scss */
  .ml, .xs {
    display: none;
  }

  /* line 38, ../../assets/sass/_portfolio.scss */
  .xs {
    flex-direction: column;
  }

  /* line 42, ../../assets/sass/_portfolio.scss */
  .menu_xs {
    width: 100%;
  }
  /* line 45, ../../assets/sass/_portfolio.scss */
  .menu_xs p {
    text-align: left;
    margin: .5em 0em;
  }
  /* line 50, ../../assets/sass/_portfolio.scss */
  .menu_xs p::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    left: -12px;
    background: url("../images/icons/menu.png");
  }

  /* line 62, ../../assets/sass/_portfolio.scss */
  .imgProfil {
    align-items: flex-start;
    justify-content: center;
  }
  /* line 65, ../../assets/sass/_portfolio.scss */
  .imgProfil img {
    width: 100px;
    height: auto;
    margin: 5px;
  }

  /* line 72, ../../assets/sass/_portfolio.scss */
  .slider, .sliderImg {
    width: 100%;
    position: fixed;
    margin-left: -50%;
    top: 0%;
    left: 50%;
    z-index: 100;
  }

  /* line 81, ../../assets/sass/_portfolio.scss */
  .slider {
    display: none;
    height: 100vh;
    background-color: white;
  }

  /* line 87, ../../assets/sass/_portfolio.scss */
  .sliderImg {
    z-index: 150;
    height: 95vh;
  }

  /* line 92, ../../assets/sass/_portfolio.scss */
  .pagination {
    position: absolute;
    width: 100%;
    background-color: white;
    justify-content: space-between;
  }
  /* line 99, ../../assets/sass/_portfolio.scss */
  .pagination .back {
    background: url("../images/icons/cancel.png") no-repeat center;
    background-size: contain;
  }
}
@media screen and (min-width: 600px) {
  /* line 107, ../../assets/sass/_portfolio.scss */
  .ml {
    display: flex;
  }

  /* line 111, ../../assets/sass/_portfolio.scss */
  .menu_xs {
    display: none;
  }
}
@media screen and (min-width: 300px) {
  /* line 3, ../../assets/sass/_tarif.scss */
  #tarif {
    text-align: center;
  }
  /* line 6, ../../assets/sass/_tarif.scss */
  #tarif .price {
    text-align: left;
  }
  /* line 11, ../../assets/sass/_tarif.scss */
  #tarif article {
    width: 100%;
    margin: 1em auto;
    align-items: center;
    justify-content: space-around;
  }
  /* line 16, ../../assets/sass/_tarif.scss */
  #tarif article img {
    max-width: 100%;
    height: auto;
  }

  /* line 23, ../../assets/sass/_tarif.scss */
  figcaption {
    padding: 1em 0;
  }
  /* line 25, ../../assets/sass/_tarif.scss */
  figcaption p {
    line-height: 1.2em;
  }

  /* line 30, ../../assets/sass/_tarif.scss */
  #pro {
    margin-top: 2em;
  }

  /* line 35, ../../assets/sass/_tarif.scss */
  .shooting_category h2, .shooting_category h3 {
    text-align: center;
  }

  /* line 40, ../../assets/sass/_tarif.scss */
  .particular_price::after {
    content: "";
    display: block;
    width: 80%;
    margin: 1em auto 0;
    border-top: 1px solid #9E9E9E;
  }

  /* line 48, ../../assets/sass/_tarif.scss */
  .mail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  /* line 53, ../../assets/sass/_tarif.scss */
  .mail a {
    padding: 1em;
    color: #0C5288;
  }
}
@media screen and (min-width: 600px) {
  /* line 63, ../../assets/sass/_tarif.scss */
  #tarif article {
    width: 30%;
  }

  /* line 69, ../../assets/sass/_tarif.scss */
  .price li {
    margin: 0 2em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 78, ../../assets/sass/_tarif.scss */
  #tarif .shooting_category {
    margin: auto;
    width: 80%;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_mention.scss */
  #mention h2 {
    text-align: center;
  }
  /* line 8, ../../assets/sass/_mention.scss */
  #mention h2, #mention h3 {
    margin-top: 2em;
  }
  /* line 11, ../../assets/sass/_mention.scss */
  #mention p {
    margin: .5em auto;
  }
  /* line 15, ../../assets/sass/_mention.scss */
  #mention a {
    color: #0C5288;
  }

  /* line 19, ../../assets/sass/_mention.scss */
  .mention {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  /* line 26, ../../assets/sass/_mention.scss */
  .mention_legale {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  /* line 33, ../../assets/sass/_mention.scss */
  .mention_legale {
    width: 80%;
  }
}
