/* line 1, ../../assets/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../../assets/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/* line 27, ../../assets/sass/_reset.scss */
body {
  line-height: 1;
  font-family: 'Roboto Condensed', Helvetica;
}

/* line 31, ../../assets/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../../assets/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../../assets/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../../assets/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../../assets/sass/_reset.scss */
a {
  text-decoration: none;
}

@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_base.scss */
  body {
    font-size: 110%;
    color: #9E9E9E;
    visibility: hidden;
  }
  /* line 8, ../../assets/sass/_base.scss */
  body a {
    color: #9E9E9E;
  }

  /* line 13, ../../assets/sass/_base.scss */
  .container {
    width: 95%;
    margin: auto;
    border-top: 1px solid #9E9E9E;
  }

  /* line 19, ../../assets/sass/_base.scss */
  .flex {
    display: flex;
    flex-flow: wrap;
  }

  /* line 24, ../../assets/sass/_base.scss */
  button {
    display: block;
    padding: .5em 1em;
    border-radius: 4px;
    border-size: 1px;
  }

  /* line 31, ../../assets/sass/_base.scss */
  .button {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em auto;
    text-align: center;
  }

  /* line 39, ../../assets/sass/_base.scss */
  h1, h2, h3 {
    width: 100%;
    padding: .5em 0;
    text-transform: uppercase;
    font-weight: bolder;
  }

  /* line 46, ../../assets/sass/_base.scss */
  .fixed {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    z-index: 100;
  }

  /* line 55, ../../assets/sass/_base.scss */
  .active {
    background-color: #39BDB7;
    border-radius: 4px;
    color: #fff;
  }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Span ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 63, ../../assets/sass/_base.scss */
  .span_img {
    display: block;
    margin: .5em;
    background-size: cover;
    width: 24px;
    height: 24px;
  }

  /* line 71, ../../assets/sass/_base.scss */
  .back {
    background: url("../images/back-arrow.png") no-repeat center;
  }

  /* line 75, ../../assets/sass/_base.scss */
  .del, .delAlbum {
    background: url("../images/delete.png") no-repeat center;
  }

  /* line 79, ../../assets/sass/_base.scss */
  .circle_back {
    background: url("../images/circle2.png") no-repeat center;
  }

  /*XXXXXXXXXXXXXXXXXXXXXX ----- Mansonry ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 84, ../../assets/sass/_base.scss */
  .grid {
    width: 100%;
    margin: 0 auto;
  }

  /* line 89, ../../assets/sass/_base.scss */
  .grid-item {
    width: 300px;
    float: left;
    margin: 8px;
    text-align: center;
  }

  /* line 98, ../../assets/sass/_base.scss */
  .grid_overflow {
    width: 100%;
    overflow: hidden;
  }

  /* line 103, ../../assets/sass/_base.scss */
  .album img {
    max-width: 100%;
    height: auto;
    transition: all 2s;
  }

  /* line 109, ../../assets/sass/_base.scss */
  .grid_overflow:hover img {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 300px) and (min-width: 600px) {
  /* line 114, ../../assets/sass/_base.scss */
  .grid-item--gigante {
    width: 580px;
    height: auto;
  }
}
@media screen and (min-width: 300px) and (min-width: 1050px) {
  /* line 121, ../../assets/sass/_base.scss */
  .grid-item--gigante {
    width: 800px;
    height: auto;
  }
}
@media screen and (min-width: 300px) {
  /*XXXXXXXXXXXXXXXXXXXXXX ----- Update Form ----- XXXXXXXXXXXXXXXXXXXXXX*/
  /* line 128, ../../assets/sass/_base.scss */
  .update_form {
    display: none;
    width: 90%;
    border: 1px solid #9E9E9E;
    position: fixed;
    top: 34%;
    left: 50%;
    transform: translate(-50%);
    background-color: floralwhite;
    opacity: .95;
    z-index: 100;
  }
  /* line 139, ../../assets/sass/_base.scss */
  .update_form form {
    margin: 0 auto;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
  }
  /* line 146, ../../assets/sass/_base.scss */
  .update_form h3 {
    text-align: center;
  }
  /* line 150, ../../assets/sass/_base.scss */
  .update_form label, .update_form input, .update_form textarea {
    width: 70%;
  }
  /* line 154, ../../assets/sass/_base.scss */
  .update_form label {
    margin: 1em 0 .5em;
  }
  /* line 158, ../../assets/sass/_base.scss */
  .update_form input, .update_form textarea {
    border: none;
    border-bottom: 1px solid #9E9E9E;
    outline: none;
  }
  /* line 164, ../../assets/sass/_base.scss */
  .update_form input[type=file] {
    width: auto;
  }

  /* line 169, ../../assets/sass/_base.scss */
  .confirmation {
    padding: 1em 0;
  }
  /* line 172, ../../assets/sass/_base.scss */
  .confirmation p {
    margin-bottom: 2em;
  }
  /* line 176, ../../assets/sass/_base.scss */
  .confirmation a {
    margin: 1em;
    color: #FFFAF0;
    background-color: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 0 .5em;
  }

  /* line 187, ../../assets/sass/_base.scss */
  #login .update_form {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  /* line 195, ../../assets/sass/_base.scss */
  body {
    font-size: 1em;
  }

  /* line 198, ../../assets/sass/_base.scss */
  .update_form {
    width: 60%;
  }
}
@media screen and (min-width: 1050px) {
  /* line 204, ../../assets/sass/_base.scss */
  .update_form {
    width: 40%;
  }
}
@media screen and (min-width: 300px) {
  /* line 2, ../../assets/sass/_header.scss */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    z-index: 100;
  }

  /* line 12, ../../assets/sass/_header.scss */
  nav {
    margin: auto;
  }
  /* line 14, ../../assets/sass/_header.scss */
  nav ul {
    width: 100%;
    margin: 0.5em auto;
    justify-content: space-around;
  }
  /* line 19, ../../assets/sass/_header.scss */
  nav a {
    padding: .2em;
  }

  /* line 24, ../../assets/sass/_header.scss */
  .logo {
    position: fixed;
    left: 50%;
    z-index: -100;
    width: 90px;
  }
  /* line 30, ../../assets/sass/_header.scss */
  .logo img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 600px) {
  /* line 40, ../../assets/sass/_header.scss */
  nav {
    font-size: 150%;
  }
  /* line 42, ../../assets/sass/_header.scss */
  nav ul {
    justify-content: center;
  }
  /* line 45, ../../assets/sass/_header.scss */
  nav li {
    margin: 0.5em;
  }

  /* line 50, ../../assets/sass/_header.scss */
  .logo {
    width: 180px;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_blog.scss */
  #blog article {
    justify-content: space-around;
    align-items: center;
    margin: 1em auto;
  }
  /* line 10, ../../assets/sass/_blog.scss */
  #blog article::after {
    content: "";
    display: block;
    width: 100%;
    margin: 1em auto 0;
    border-top: 1px solid #9E9E9E;
  }
  /* line 18, ../../assets/sass/_blog.scss */
  #blog a {
    color: #232123;
    text-decoration: underline;
    margin: .5em 0;
  }
  /* line 24, ../../assets/sass/_blog.scss */
  #blog .update_blog, #blog .detail, #blog .description {
    width: 100%;
  }
  /* line 28, ../../assets/sass/_blog.scss */
  #blog .description {
    overflow: hidden;
    line-height: 1.1em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: .5em auto;
  }
  /* line 37, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: none;
  }
  /* line 41, ../../assets/sass/_blog.scss */
  #blog .date {
    font-size: .8em;
    position: relative;
    top: -5px;
    color: #232123;
  }

  /* line 50, ../../assets/sass/_blog.scss */
  .more {
    background: url("../images/more.png");
  }
}
@media screen and (min-width: 600px) {
  /* line 58, ../../assets/sass/_blog.scss */
  #blog article {
    justify-content: space-between;
    align-items: center;
  }
  /* line 62, ../../assets/sass/_blog.scss */
  #blog .detail {
    width: 65%;
  }
  /* line 66, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: block;
    width: 30%;
    align-self: center;
  }
  /* line 70, ../../assets/sass/_blog.scss */
  #blog .img_detail img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1050px) {
  /* line 81, ../../assets/sass/_blog.scss */
  #blog article {
    width: 70%;
    justify-content: space-around;
    align-items: center;
  }
  /* line 86, ../../assets/sass/_blog.scss */
  #blog .detail {
    width: 65%;
  }
  /* line 90, ../../assets/sass/_blog.scss */
  #blog .img_detail {
    display: block;
    width: 20%;
    align-self: center;
  }
  /* line 94, ../../assets/sass/_blog.scss */
  #blog .img_detail img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 90%;
    padding: .5em;
    margin: auto;
  }
  /* line 10, ../../assets/sass/_article.scss */
  #article .date {
    margin-bottom: 1em;
    font-size: .8em;
  }
  /* line 15, ../../assets/sass/_article.scss */
  #article .album_article {
    width: 100%;
    margin-top: 2em;
  }
  /* line 18, ../../assets/sass/_article.scss */
  #article .album_article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 600px) {
  /* line 29, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 60%;
  }
}
@media screen and (min-width: 1050px) {
  /* line 37, ../../assets/sass/_article.scss */
  #article .detail_article {
    width: 40%;
  }
}
@media screen and (min-width: 300px) {
  /* line 3, ../../assets/sass/_about.scss */
  .tony {
    padding: 0 1em;
    justify-content: space-around;
  }
  /* line 6, ../../assets/sass/_about.scss */
  .tony div {
    width: 100%;
  }
  /* line 8, ../../assets/sass/_about.scss */
  .tony div.tony_portrait, .tony div.about_tony {
    margin-top: 1em;
  }
  /* line 13, ../../assets/sass/_about.scss */
  .tony h2 {
    font-size: 180%;
    padding: 0;
  }
  /* line 18, ../../assets/sass/_about.scss */
  .tony .photographe {
    font-size: 80%;
    color: #232123;
    position: relative;
    top: -5px;
  }

  /* line 28, ../../assets/sass/_about.scss */
  .tony_portrait img {
    max-width: 100%;
    height: auto;
  }

  /* line 36, ../../assets/sass/_about.scss */
  #about .about_tony p {
    line-height: 1.2em;
  }
  /* line 41, ../../assets/sass/_about.scss */
  #about .quote {
    font-size: 150%;
  }

  /* line 48, ../../assets/sass/_about.scss */
  .social p {
    width: 100%;
    margin: .5em 0;
  }
  /* line 53, ../../assets/sass/_about.scss */
  .social a {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  /* line 59, ../../assets/sass/_about.scss */
  .social .fb {
    background: url("../images/fb2.png") no-repeat center;
  }
  /* line 63, ../../assets/sass/_about.scss */
  .social .insta {
    background: url("../images/insta2.png") no-repeat center;
  }
}
@media screen and (min-width: 600px) {
  /* line 71, ../../assets/sass/_about.scss */
  .tony .tony_portrait, .tony .about_tony {
    width: 40%;
  }
  /* line 75, ../../assets/sass/_about.scss */
  .tony .tony_portrait {
    flex-grow: 2;
  }
  /* line 79, ../../assets/sass/_about.scss */
  .tony h2 {
    font-size: 300%;
  }
  /* line 83, ../../assets/sass/_about.scss */
  .tony .photographe {
    font-size: 120%;
  }

  /* line 88, ../../assets/sass/_about.scss */
  .about_tony {
    padding: 1em;
    align-content: flex-start;
  }

  /* line 93, ../../assets/sass/_about.scss */
  .title {
    align-self: flex-start;
    width: 100%;
  }

  /* line 97, ../../assets/sass/_about.scss */
  .social {
    width: 100%;
    margin-top: 1em;
  }
  /* line 101, ../../assets/sass/_about.scss */
  .social a {
    display: block;
    margin: .5em 0;
  }

  /* line 108, ../../assets/sass/_about.scss */
  #about .tony_portrait {
    order: 1;
  }
  /* line 112, ../../assets/sass/_about.scss */
  #about .about_tony {
    padding: 0 1em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 119, ../../assets/sass/_about.scss */
  .tony {
    justify-content: center;
  }
  /* line 121, ../../assets/sass/_about.scss */
  .tony .tony_portrait {
    flex-grow: 0;
  }
  /* line 124, ../../assets/sass/_about.scss */
  .tony .about_tony {
    flex-grow: 0;
  }
  /* line 128, ../../assets/sass/_about.scss */
  .tony .photographe {
    font-size: 150%;
  }
}
@media screen and (min-width: 1450px) {
  /* line 136, ../../assets/sass/_about.scss */
  .tony .tony_portrait, .tony .about_tony {
    width: 30%;
  }
}
@media screen and (min-width: 300px) {
  /* line 4, ../../assets/sass/_portfolio.scss */
  .portfolio .category {
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  /* line 8, ../../assets/sass/_portfolio.scss */
  .portfolio .category a {
    padding: 0.2em;
  }
  /* line 13, ../../assets/sass/_portfolio.scss */
  .portfolio li {
    font-size: .9em;
    padding: 1em 0;
    margin: 0 .5em;
  }
  /* line 19, ../../assets/sass/_portfolio.scss */
  .portfolio p {
    text-align: left;
    padding: .5em 0;
  }
  /* line 24, ../../assets/sass/_portfolio.scss */
  .portfolio .delete {
    text-align: right;
  }

  /* line 29, ../../assets/sass/_portfolio.scss */
  .ml, .xs {
    display: none;
  }

  /* line 33, ../../assets/sass/_portfolio.scss */
  .xs {
    flex-direction: column;
  }

  /* line 37, ../../assets/sass/_portfolio.scss */
  .menu_xs {
    width: 100%;
  }
  /* line 40, ../../assets/sass/_portfolio.scss */
  .menu_xs p {
    margin: 0 1.5em;
  }
  /* line 43, ../../assets/sass/_portfolio.scss */
  .menu_xs p::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    left: -12px;
    background: url("../images/menu.png");
  }

  /* line 55, ../../assets/sass/_portfolio.scss */
  .imgProfil {
    align-items: flex-start;
    justify-content: center;
  }
  /* line 58, ../../assets/sass/_portfolio.scss */
  .imgProfil img {
    width: 100px;
    height: auto;
    margin: 5px;
  }
}
@media screen and (min-width: 600px) {
  /* line 67, ../../assets/sass/_portfolio.scss */
  .ml {
    display: flex;
  }

  /* line 71, ../../assets/sass/_portfolio.scss */
  .menu_xs {
    display: none;
  }
}
